* {
    scroll-behavior: smooth;
  }
  
  
  body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #e0f7fa;
    color: #000000;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  
  form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
  }
  
  label, input {
    display: block;
    margin: 0.5rem 0;
  }
  
  input {
    width: 100%;
    margin: 10px 0 0 0;
    min-height: 1.5em;
    background-color: #f0f0f0;
  }
  
  fieldset {
    border: none;
    padding: 2rem 0;
    margin-top: 20px;
    margin-bottom: 0px;
  }
  
  legend {
    padding-top: 8px;
    color: #333333;
    font-size: 15px;
  }
  
  .specific {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: flex-start;
    
  }
  
  .specific label {
    display: flex;
    align-items: center;
    white-space: nowrap;
    padding: 0;
    margin: 0px 20px 0px 3px;
  }
  
  .specific input {
    vertical-align: middle;
    margin: 0px 8px 0px 3px;
    
  }
  
  .specific label span {
    position: relative;
    top: 1px;
    font-size: 14px;
    
   
  }
  
  .fieldset2 {
    margin: 0;
    padding: 0;
  }
  
  img {
    width: 30px;
    height: 40px;
  }
  
  header {
    width: 100%;
    height: 50px;
    background-color: #1b1b32;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
  }
  
  h1 {
    color: #dfdfe2;
    text-align: center;
    font-size: min(10vw, 1.6em); 
  }
  
  h2 {
    margin: 0;
    padding-top: 80px;
    padding-bottom: 0;
    border-bottom: 4px solid #dfdfe2;
    text-align: center;
  }
  
  nav {
    width: 50%;
    max-width: 300px;
    height: 50px;
  }
  
  nav > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
  }
  
  nav > ul > li {
    color: #dfdfe2;
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
  }
  
  li > a {
    color: inherit;
    text-decoration: none;
  }
  nav > ul > li:hover {
    background-color: #dfdfe2;
    color: #1b1b32;
    cursor: pointer; 
  }
  
  p {
    color: black;
  }
  
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
  
  .q1 {
    padding-top: 30px;
    margin-bottom: 30px;
  }
  
  .answers-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: start;
    flex-direction: column;
    margin-top: -25px;
  }
  
  .answers-list label {
    display: flex;
    align-items: center;
    white-space: nowrap;
    padding: 0;
    margin: 0px 20px 0px 0px;
  }
  
  .answers-list input[type="radio"] {
    vertical-align: middle;
    margin: 0px 8px 0px 3px;
  }
  .answers-list label {
    display: flex;
    align-items: center; 
    font-size: 14px;
  }
  
  #fs4, #fs5 {
    margin-top: 0;
    padding-top: 0;
  }
  
  #fs4label {
    margin-top: 0px;
    font-size: 15px;
  }
  
  #selector {
    margin-top: 4px;
    width: 50%;
    height: auto;
  }
  #fs5label {
    margin-top: 0px;
    font-size: 15px;
  }
  
  #submit {
    width: 50%;
    height: 50px;
  }
  
  footer {
    background-color: #2a2a40;
    display: flex;
    justify-content: center;
    color: white;
    height: 40px;
    padding-top: 24px;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  